.mercedes-logo {
    height: 130px;
    padding-top: 30px;
    padding-left: 80px;
}

.header {
    background-color: black;
}

.form {
    text-align: right;
    position: relative;
    bottom: 60px;
    right: 150px;
}

.fa {
    color: white;
}

.fa-user {
    color: white;
    position: relative;
    left: 1350px;
    bottom: 88px;
    font-size: 30px;
}

#footer {
    position: relative;
    text-align: center;
    background-color: black;
    height: 100px;
    top: 1px;
}

i {
    color: white;
}

.footer-icon {
    position: relative;
    padding-left: 50px;
    top: 20px;
}

p {
    position: relative;
    color: white;
    text-decoration: underline;
    text-align: center;
    top: 30px;
}

.glc-image {
    position: relative;
    right: 15px;
    width: 1443px;
    top: 2px;
}

.welcoming-page {
    position: relative;
    top: 2px;
}

.form-yazi {
    position: relative;
    right: 500px;
    font-size: 10px;
}

.welcoming-page-h1 {
    position: relative;
    bottom: 450px;
    left: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}

.welcoming-page-h3 {
    position: relative;
    bottom: 420px;
    left: 70px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.welcoming-page-button {
    position: relative;
    bottom: 340px;
    left: 70px;
}

#featured {
    background-color: white;
    height: 730px;
}

.featured-h1 {
    position: relative;
    bottom: 50px;
    left: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.card {
    height: 600px;
    position: relative;
    left: 150px;
}

.card-text {
    color: black;
    text-align: left;
    text-decoration: none;
}

.featured-button {
    position: relative;
    top: 80px;
    left: 80px;
}

.card2 {
    position: relative;
    left: 580px;
    bottom: 600px;
}

.card3 {
    position: relative;
    left: 1000px;
    bottom: 1200px;
}

.button3 {
    position: relative;
    top: 200px;
}

.button4 {
    position: relative;
    top: 170px;
}

.button5 {
    position: relative;
    top: 170px;
}

.button6 {
    position: relative;
    top: 100px;
}

.featured-hr {
    position: relative;
    border: dotted 6px;
    width: 4% ;
    border-bottom: none;
    margin: 100px auto 100px auto;
    bottom: 1250px;
    color: black;
}

.prev-icon {
    position: relative;
    bottom: 580px;
    right: 50px;
    background-color: black;
}

.next-icon {
    position: relative;
    bottom: 590px;
    left: 40px;
    background-color: black;
}

.shopping-tools-h2 {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    top: 150px;
    font-size: 20px;
}

.card-tool1 {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    font-family: arial;
    left: 350px;
    top: 460px;
  }
  
.card-tool2 {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    font-family: arial;
    left: 550px;
    top: 4px;
  }

  .card-tool3 {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    font-family: arial;
    left: 750px;
    bottom: 452px;
  }

  .card-tool4 {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 150px;
    font-family: arial;
    left: 950px;
    bottom: 908px;
  }
  
  .toolh1 {
    position: relative;
    font-size: 15px;
    text-align: center;
    bottom: 70px;
    color: white;
  }

  .spotlight-h2 {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    font-size: 20px;
    bottom: 550px;
}

.spotlight-h1 {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    font-size: 30px;
    bottom: 500px;
}

.spotlight-1 {
    position: relative;
    width: 400px;
    left: 300px;
    bottom: 400px;
}

.spotlight-2 {
    position: relative;
    width: 350px;
    bottom: 600px;
    left: 350px;
}

.spotlight-3 {
    position: relative;
    width: 350px;
    bottom: 200px;
}

.spotlight-1-h3 {
    color:  #176db7;
    font-size: 15px;
    position: relative;
    bottom: 380px;
    left: 300px;
}

.spotlight-1-h5 {
    color: black;
    text-align: left;
    font-size: 15px;
    width: 400px;
    position: relative;
    bottom: 380px;
    left: 300px;
}

.spotlight-2-h3 {
    color:  #176db7;
    font-size: 15px;
    position: relative;
    bottom: 870px;
    left: 755px;
}

.spotlight-2-h5 {
    color: black;
    text-align: left;
    font-size: 15px;
    width: 365px;
    position: relative;
    bottom: 870px;
    left: 755px;
}

.spotlight-3-h3 {
    color:  #176db7;
    font-size: 15px;
    position: relative;
    bottom: 550px;
    left: 760px;
}

.spotlight-3-h5 {
    color: black;
    text-align: left;
    font-size: 15px;
    width: 365px;
    position: relative;
    bottom: 550px;
    left: 760px;
}

.future-vehicles-h2 {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    font-size: 20px;
    bottom: 400px;
}

.future-vehicles-h1 {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    text-align: center;
    font-size: 30px;
    bottom: 350px;
}

.future-vehicles-1 {
    position: relative;
    width: 900px;
    bottom: 280px;
    left: 100px;
}

.future-vehicles-inner-h2 {
    font-size: 17px;
    position: relative;
    left: 1095px;
    bottom: 760px;
}

.future-vehicles-inner-h1 {
    font-size: 30px;
    position: relative;
    left: 1050px;
    bottom: 750px;
    width: 200px;
    text-align: center;
    line-height: 40px;
}

.future-vehicles-inner-h3 {
    font-size: 15px;
    position: relative;
    left: 1010px;
    bottom: 740px;
}

.future-vehicles-button {
    position: relative;
    left: 1110px;
    bottom: 690px;
}